.header {
  color: @white;
  padding-bottom: 46px;
  background-image: url(../img/banner_bg.svg), linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
  background-repeat: no-repeat;
  background-size: 2120px auto, auto auto;
  background-position: center top, center;

  &--index {
    padding-bottom: 157px;
    background-image: url(../img/index_banner_bg.svg), linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
    background-size: 1298px auto, auto auto;
    background-position: calc(50% + 264px) top, center;
    position: relative;
  }

  &--project {
    padding-bottom: 285px;

    .project__results {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      margin-top: 20px;
    }
  }

  &__top {
    border-bottom: 1px solid @white-fade;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  &__logo {
    height: min-content;

    > img {
      width: 394px;
      height: 60px;
    }
  }

  &__stats {
    margin-top: -119px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    margin-top: 40px;
  }
}


@media (max-width: 1440px) {
  .header {
    padding-bottom: calc(100vw * (46 / 1440));
    background-size: calc(100vw * (2120 / 1440)) auto, auto auto;
    background-position: center top, center;

    &--index {
      padding-bottom: calc(100vw * (157 / 1440));
      background-size: calc(100vw * (1298 / 1440)) auto, auto auto;
      background-position: calc(100vw * (314 / 1440)) top, center;
    }

    &--project {
      padding-bottom: calc(100vw * (285 / 1440));

      .project__results {
        font-size: calc(100vw * (24 / 1440));
        line-height: calc(100vw * (30 / 1440));
        margin-top: calc(100vw * (20 / 1440));
      }
    }
    

    &__logo {
      > img {
        width: calc(100vw * (394 / 1440));
        height: calc(100vw * (60 / 1440));
      }
    }

    &__stats {
      margin-top: calc(100vw * (-119 / 1440));
    }

    &__content {
      margin-top: calc(100vw * (40 / 1440));
    }
  }
}


@media (max-width: 576px) {
  .header {
    padding-bottom: calc(100vw * (40 / 360));

    &--index {
      padding-bottom: calc(100vw * (214 / 360));
      background-image: url(../img/index_banner_bg_mobile.svg), linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
      background-size: 100% auto, auto auto;
      background-position: top center, center;
    }

    &--project {
      padding-bottom: calc(100vw * (149 / 360));

      .project__results {
        font-size: calc(100vw * (16 / 360));
        line-height: calc(100vw * (20 / 360));
        margin-top: calc(100vw * (20 / 360));
      }
    }

    &__top {
      border-bottom: 1px solid @white-fade;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: calc(100vw * (24 / 360)) calc(100vw * (20 / 360));
    }

    &__logo {
      height: min-content;

      > img {
        width: calc(100vw * (220 / 360));
        height: calc(100vw * (33.5 / 360));
      }
    }

    &__stats {
      margin-top: calc(100vw * (-174 / 360));
      margin-inline: calc(100vw * (20 / 360));
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      transform: translateX(0);
    }

    &__content {
      margin-top: calc(100vw * (30 / 360));
    }

    &__burger,
    &__close {
      width: calc(100vw * (24 / 360));
      height: calc(100vw * (24 / 360));
      background: transparent no-repeat center;
      background-size: 100%;
    }

    &__burger {
      background-image: url(../img/menu.svg);
    }

    &__close {
      background-image: url(../img/close.svg);
    }

    &__mobile {
      height: 100vh;
      background-image: linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: center;
      flex-direction: column;
      position: fixed;
      inset: 0;
      bottom: 100%;
      z-index: 10000;
      transition: all 0.3s ease-out;

      &.open {
        transform: translateY(-100%);
      }
    }

    &__mobile_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(100vw * (20 / 360));
    }

    &__mobile_link {
      width: calc(100vw * (290 / 360));

      &:last-child {
        background-color: transparent;
        border: 2px solid currentColor;
      }
    }
  }
}
