.main-nav {
  &__list {
    display: flex;
    gap: 45px;
  }

  &__item {
    height: min-content;
    padding-block: 44px;
    position: relative;

    &.current::after {
      content: "";
      height: 4px;
      background-color: @white;
      display: block;
      position: absolute;
      top: 100%;
      left: -27px;
      right: -27px;
      transform: translateY(-100%);
    }
  }

  &__link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: @white;
    transition: color @hover-transition-duration ease;

    &:hover {
      color: @hover-white;
    }
  }
}


@media (max-width: 1440px) {
  .main-nav {
    &__list {
      display: flex;
      gap: calc(100vw * (45 / 1440));
    }

    &__item {
      padding-block: calc(100vw * (44 / 1440));

      &.current::after {
        content: "";
        height: calc(100vw * (4 / 1440));
        left: calc(100vw * (-27 / 1440));
        right: calc(100vw * (-27 / 1440));
      }
    }

    &__link {
      font-size: calc(100vw * (16 / 1440));
      line-height: calc(100vw * (20 / 1440));
    }
  }
}


@media (max-width: 576px) {
  .main-nav {
    &__list {
      margin-block: calc(100vw * (60 / 360));
      flex-direction: column;
      align-items: center;
      gap: calc(100vw * (35 / 360));
    }

    &__item {
      height: min-content;
      padding-block: 0;

      &.current::after {
        content: none;
      }
    }

    &__link {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: calc(100vw * (26 / 360));
      line-height: calc(100vw * (33 / 360));
      color: @white;

      &:hover {
        color: @white;
      }
    }
  }
}