.payment_page {
  padding-block: 40px 80px;

  &__form {
    display: grid;
    column-gap: 140px;
    grid-template-columns: 740px min-content;   
    grid-template-rows: repeat(7, min-content); 
    grid-auto-flow: column;
  }

  &__select {
    margin-bottom: 30px;
  }

  &__amounts {
    grid-area: auto;
  }

  .payment__amount {
    flex-grow: 1;

    &--other {
      width: 240px;
    }
  }
  &__periods {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    width: min-content;
    padding: 4px;
    margin-block: 30px 50px;
    background-color: @white-special;
    border-radius: 12px;
    display: flex;

    label {
      padding: 11.5px 16px;
      border-radius: 12px;
      width: max-content;
    }
  }

  &__period {
    display: none;

    &:checked + label {
      color: @white;
      background-color: @primary;
    }
  }

  &__submit {
    margin-block: 30px 23px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &__link {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: @primary;
    text-decoration: underline;
  }

  &__info {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;

    .methods {
      flex-direction: column;
      align-items: flex-start;

      &__list {
        margin-block: 20px 40px;
        margin-left: 0;
      }
    }
  }
}


@media (max-width: 1440px) {
  .payment_page {
    padding-block: calc(100vw * (40 / 1440)) calc(100vw * (80 / 1440));

    &__form {
      grid-template-columns: calc(100vw * (740 / 1440)) min-content;  
      grid-template-rows: repeat(8, min-content);  
      column-gap: calc(100vw * (140 / 1440));
    }

    &__select {
      margin-bottom: calc(100vw * (30 / 1440));
    }

    .payment__amount {
      &--other {
        width: calc(100vw * (240 / 1440));
      }
    }

    &__periods {
      font-size: calc(100vw * (18 / 1440));
      line-height: calc(100vw * (23 / 1440));
      padding: calc(100vw * (4 / 1440));
      margin-block: calc(100vw * (30 / 1440)) calc(100vw * (50 / 1440));
      border-radius: calc(100vw * (12 / 1440));

      label {
        padding: calc(100vw * (11.5 / 1440)) calc(100vw * (16 / 1440));
        border-radius: calc(100vw * (12 / 1440));
      }
    }

    &__submit {
      margin-block: calc(100vw * (30 / 1440)) calc(100vw * (23 / 1440));
    }

    &__text {
      font-size: calc(100vw * (14 / 1440));
      line-height: calc(100vw * (18 / 1440));
    }

    &__info {
      .methods {
        &__list {
          margin-block: calc(100vw * (20 / 1440)) calc(100vw * (40 / 1440));
          margin-left: 0;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  .payment_page {
    padding-block: calc(100vw * (30 / 360)) calc(100vw * (40 / 360));

    &__form {
      grid-template-columns: 100%;
    }
    
    &__select {
      margin-bottom: calc(100vw * (30 / 360));
    }

    .payment__amount {
      &--other {
        width: 100%;
      }
    }

    &__periods {
      font-weight: 500;
      font-size: calc(100vw * (18 / 360));
      line-height: calc(100vw * (23 / 360));
      padding: calc(100vw * (4 / 360));
      margin-block: calc(100vw * (20 / 360)) calc(100vw * (40 / 360));
      border-radius: calc(100vw * (12 / 360));

      label {
        padding: calc(100vw * (11.5 / 360)) calc(100vw * (13 / 360));
        border-radius: calc(100vw * (12 / 360));
      }
    }

    &__submit {
      margin-block: calc(100vw * (30 / 360)) calc(100vw * (20 / 360));
    }

    &__text {
      font-size: calc(100vw * (14 / 360));
      line-height: calc(100vw * (18 / 360));
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;

      .methods {
        flex-direction: row;
        align-items: center;

        &__list {
          margin-block: calc(100vw * (20 / 360)) calc(100vw * (30 / 360));
          margin-left: calc(100vw * (23 / 360));
        }
      }
    }
  }
}