@import "../fonts/stylesheet.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: none;
}
html {
  min-height: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Cera Pro', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2c2c2c;
  background: #FFFFFF;
  overflow-x: hidden;
}
body.modal_open {
  height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
a,
input {
  font-family: 'Cera Pro', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
a {
  color: #2c2c2c;
}
a:hover {
  color: #2c2c2c;
}
input:focus {
  outline: none;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  font-weight: normal;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
label {
  cursor: pointer;
}
picture > img {
  width: 100%;
  height: 100%;
}
.breadcrumb {
  display: flex;
}
.breadcrumb__item {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 10px;
  display: flex;
  opacity: 0.6;
}
.breadcrumb__item::after {
  content: "/";
  margin-left: 10px;
}
.breadcrumb__item:last-child {
  margin-right: 0;
  opacity: 1;
}
.breadcrumb__item:last-child::after {
  content: none;
}
.breadcrumb__link {
  color: inherit;
  font-weight: 400;
}
.breadcrumb__link:hover {
  color: inherit;
}
.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  width: 290px;
  height: 66px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  color: #FFFFFF;
}
.button--white {
  color: #2c2c2c;
  background-color: #FFFFFF;
}
.button--white:hover {
  color: #2c2c2c;
}
.button--empty {
  background-color: transparent;
  border: 2px solid currentColor;
}
.button--primary {
  background-color: #43B6B4;
}
@media (max-width: 1440px) {
  .button {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
    width: calc(100vw * (290 / 1440));
    height: calc(100vw * (66 / 1440));
    border-radius: calc(100vw * (12 / 1440));
  }
}
@media (max-width: 576px) {
  .button {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
    color: #FFFFFF;
    width: 100%;
    height: calc(100vw * (66 / 360));
    border-radius: calc(100vw * (12 / 360));
    display: flex;
    justify-content: center;
  }
  .button:hover {
    color: #FFFFFF;
  }
  .button--white {
    color: #2c2c2c;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }
  .button--white:hover {
    color: #2c2c2c;
  }
  .button--empty {
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline;
    height: auto;
  }
}
.header {
  color: #FFFFFF;
  padding-bottom: 46px;
  background-image: url(../img/banner_bg.svg), linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
  background-repeat: no-repeat;
  background-size: 2120px auto, auto auto;
  background-position: center top, center;
}
.header--index {
  padding-bottom: 157px;
  background-image: url(../img/index_banner_bg.svg), linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
  background-size: 1298px auto, auto auto;
  background-position: calc(50% + 264px) top, center;
  position: relative;
}
.header--project {
  padding-bottom: 285px;
}
.header--project .project__results {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
.header__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.header__logo {
  height: min-content;
}
.header__logo > img {
  width: 394px;
  height: 60px;
}
.header__stats {
  margin-top: -119px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.header__content {
  margin-top: 40px;
}
@media (max-width: 1440px) {
  .header {
    padding-bottom: calc(100vw * (46 / 1440));
    background-size: calc(100vw * (2120 / 1440)) auto, auto auto;
    background-position: center top, center;
  }
  .header--index {
    padding-bottom: calc(100vw * (157 / 1440));
    background-size: calc(100vw * (1298 / 1440)) auto, auto auto;
    background-position: calc(100vw * (314 / 1440)) top, center;
  }
  .header--project {
    padding-bottom: calc(100vw * (285 / 1440));
  }
  .header--project .project__results {
    font-size: calc(100vw * (24 / 1440));
    line-height: calc(100vw * (30 / 1440));
    margin-top: calc(100vw * (20 / 1440));
  }
  .header__logo > img {
    width: calc(100vw * (394 / 1440));
    height: calc(100vw * (60 / 1440));
  }
  .header__stats {
    margin-top: calc(100vw * (-119 / 1440));
  }
  .header__content {
    margin-top: calc(100vw * (40 / 1440));
  }
}
@media (max-width: 576px) {
  .header {
    padding-bottom: calc(100vw * (40 / 360));
  }
  .header--index {
    padding-bottom: calc(100vw * (214 / 360));
    background-image: url(../img/index_banner_bg_mobile.svg), linear-gradient(124.11deg, #43BBA5 0%, #43B4BB 70.19%);
    background-size: 100% auto, auto auto;
    background-position: top center, center;
  }
  .header--project {
    padding-bottom: calc(100vw * (149 / 360));
  }
  .header--project .project__results {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
    margin-top: calc(100vw * (20 / 360));
  }
  .header__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: calc(100vw * (24 / 360)) calc(100vw * (20 / 360));
  }
  .header__logo {
    height: min-content;
  }
  .header__logo > img {
    width: calc(100vw * (220 / 360));
    height: calc(100vw * (33.5 / 360));
  }
  .header__stats {
    margin-top: calc(100vw * (-174 / 360));
    margin-inline: calc(100vw * (20 / 360));
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  .header__content {
    margin-top: calc(100vw * (30 / 360));
  }
}
.main-nav__list {
  display: flex;
}
.main-nav__item {
  height: min-content;
  padding-block: 44px;
  margin-left: 45px;
  position: relative;
}
.main-nav__item:first-child {
  margin: 0;
}
.main-nav__item.current::after {
  content: "";
  height: 4px;
  background-color: #FFFFFF;
  display: block;
  position: absolute;
  top: 100%;
  left: -27px;
  right: -27px;
  transform: translateY(-100%);
}
.main-nav__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.main-nav__link:hover {
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .main-nav__item {
    padding-block: calc(100vw * (44 / 1440));
    margin-left: calc(100vw * (45 / 1440));
  }
  .main-nav__item.current::after {
    content: "";
    height: calc(100vw * (4 / 1440));
    left: calc(100vw * (-27 / 1440));
    right: calc(100vw * (-27 / 1440));
  }
  .main-nav__link {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (20 / 1440));
  }
}
@media (max-width: 576px) {
  .main-nav__list {
    display: flex;
  }
  .main-nav__item {
    height: min-content;
    padding-block: 44px;
    margin-left: 45px;
  }
  .main-nav__item:first-child {
    margin: 0;
  }
  .main-nav__link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .main-nav__link:hover {
    color: #FFFFFF;
  }
}
.banner {
  margin-top: 30px;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: 'title img' 'text img' 'btn img';
}
.banner__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 88px;
  margin-top: 52px;
  align-self: end;
  grid-area: title;
}
.banner__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-block: 30px 100px;
  grid-area: text;
}
.banner__links {
  display: flex;
  align-self: start;
  grid-area: btn;
}
.banner__link {
  margin-right: 30px;
}
.banner__link:last-child {
  margin-right: 0;
}
.banner__image {
  width: 538px;
  height: 538px;
  margin-left: 112px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  grid-area: img;
  display: grid;
  place-content: center;
}
.banner__image > img {
  width: 478px;
  height: 478px;
  outline: 30px solid #FFFFFF;
  border-radius: 50%;
}
.banner__image::before {
  content: "";
  width: 53px;
  height: 53px;
  background-color: #43B6B4;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 71px;
  right: 42px;
}
.banner__image::after {
  content: "";
  width: 113px;
  height: 113px;
  background-color: #ED695B;
  border: 17px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  bottom: 96px;
  left: -10px;
}
.banner .circle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.banner .circle--gradient {
  width: 590px;
  height: 590px;
  background-image: url(../img/banner_img_bg.svg);
}
.banner .circle--waves {
  width: 908px;
  height: 908px;
  background-image: url(../img/banner_img_circles.svg);
}
@media (max-width: 1440px) {
  .banner {
    margin-top: calc(100vw * (30 / 1440));
  }
  .banner__title {
    font-size: calc(100vw * (70 / 1440));
    line-height: calc(100vw * (88 / 1440));
    margin-top: calc(100vw * (52 / 1440));
  }
  .banner__text {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (30 / 1440));
    margin-block: calc(100vw * (30 / 1440)) calc(100vw * (100 / 1440));
  }
  .banner__link {
    margin-right: calc(100vw * (30 / 1440));
  }
  .banner__image {
    width: calc(100vw * (538 / 1440));
    height: calc(100vw * (538 / 1440));
    margin-left: calc(100vw * (112 / 1440));
  }
  .banner__image > img {
    width: calc(100vw * (478 / 1440));
    height: calc(100vw * (478 / 1440));
    outline: calc(100vw * (30 / 1440)) solid #FFFFFF;
  }
  .banner__image::before {
    content: "";
    width: calc(100vw * (53 / 1440));
    height: calc(100vw * (53 / 1440));
    border: calc(100vw * (8 / 1440)) solid #FFFFFF;
    top: calc(100vw * (71 / 1440));
    right: calc(100vw * (42 / 1440));
  }
  .banner__image::after {
    width: calc(100vw * (113 / 1440));
    height: calc(100vw * (113 / 1440));
    background-color: #ED695B;
    border: calc(100vw * (17 / 1440)) solid #FFFFFF;
    bottom: calc(100vw * (96 / 1440));
    left: calc(100vw * (-10 / 1440));
  }
  .banner .circle--gradient {
    width: calc(100vw * (590 / 1440));
    height: calc(100vw * (590 / 1440));
  }
  .banner .circle--waves {
    width: calc(100vw * (908 / 1440));
    height: calc(100vw * (908 / 1440));
  }
}
@media (max-width: 576px) {
  .banner {
    margin-top: calc(100vw * (14 / 360));
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 'title' 'img' 'text' 'btn';
  }
  .banner__title {
    font-size: calc(100vw * (36 / 360));
    line-height: calc(100vw * (45 / 360));
    text-align: center;
    margin-top: 0;
    align-self: start;
  }
  .banner__text {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
    text-align: center;
    margin-block: calc(100vw * (20 / 360)) calc(100vw * (16 / 360));
    grid-area: text;
  }
  .banner__links {
    flex-direction: column;
  }
  .banner__link {
    margin-right: 0;
    margin-bottom: calc(100vw * (15 / 360));
  }
  .banner__link:last-child {
    margin-bottom: 0;
  }
  .banner__image {
    width: calc(100vw * (292 / 360));
    height: calc(100vw * (292 / 360));
    margin-top: calc(100vw * (28 / 360));
    margin-left: 0;
    justify-self: center;
  }
  .banner__image > img {
    width: calc(100vw * (260 / 360));
    height: calc(100vw * (260 / 360));
    outline: calc(100vw * (16 / 360)) solid #FFFFFF;
  }
  .banner__image::before {
    width: calc(100vw * (31 / 360));
    height: calc(100vw * (31 / 360));
    border: calc(100vw * (4.7 / 360)) solid #FFFFFF;
    top: calc(100vw * (45 / 360));
    right: calc(100vw * (21 / 360));
  }
  .banner__image::after {
    width: calc(100vw * (83 / 360));
    height: calc(100vw * (83 / 360));
    border: calc(100vw * (12.5 / 360)) solid #FFFFFF;
    bottom: calc(100vw * (16 / 360));
    left: calc(100vw * (3 / 360));
  }
  .banner .circle--gradient {
    width: calc(100vw * (320 / 360));
    height: calc(100vw * (320 / 360));
  }
}
.stats {
  padding: 56px 25px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
}
.stats__list {
  display: grid;
  grid-template-columns: 329px 483px 428px;
}
.stats__item {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 64px;
}
.stats__item:first-child {
  padding-left: 0;
  border-left: none;
}
.stats__caption {
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  color: #43B6B4;
  margin-bottom: 16px;
}
.stats__text {
  font-size: 20px;
  line-height: 25px;
  color: #2c2c2c;
}
@media (max-width: 1440px) {
  .stats {
    padding: calc(100vw * (56 / 1440)) calc(100vw * (25 / 1440)) calc(100vw * (40 / 1440));
    box-shadow: 0px calc(100vw * (4 / 1440)) calc(100vw * (24 / 1440)) rgba(0, 0, 0, 0.11);
    border-radius: calc(100vw * (16 / 1440));
  }
  .stats__list {
    grid-template-columns: calc(100vw * (329 / 1440)) calc(100vw * (483 / 1440)) calc(100vw * (428 / 1440));
  }
  .stats__item {
    padding-left: calc(100vw * (64 / 1440));
  }
  .stats__caption {
    font-size: calc(100vw * (50 / 1440));
    line-height: calc(100vw * (63 / 1440));
    margin-bottom: calc(100vw * (16 / 1440));
  }
  .stats__text {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
  }
}
@media (max-width: 576px) {
  .stats {
    padding: calc(100vw * (16 / 360)) calc(100vw * (20 / 360));
    background-color: #FFFFFF;
    box-shadow: 0px calc(100vw * (4 / 360)) calc(100vw * (24 / 360)) rgba(0, 0, 0, 0.11);
    border-radius: calc(100vw * (16 / 360));
  }
  .stats__list {
    grid-template-columns: 100%;
  }
  .stats__item {
    padding-left: 0;
    padding-bottom: calc(100vw * (20 / 360));
    margin-bottom: calc(100vw * (20 / 360));
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 0;
  }
  .stats__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .stats__caption {
    font-size: calc(100vw * (36 / 360));
    line-height: calc(100vw * (45 / 360));
    margin-bottom: calc(100vw * (4 / 360));
  }
  .stats__text {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
  }
}
.projects {
  padding-block: 174px 60px;
  background: #F8F8F8;
}
.projects__list {
  margin-top: 40px;
  display: flex;
}
.projects__item {
  margin-right: 30px;
}
.projects__item:last-child {
  margin-right: 0;
}
@media (max-width: 1440px) {
  .projects {
    padding-block: calc(100vw * (174 / 1440)) calc(100vw * (60 / 1440));
  }
  .projects__list {
    margin-top: calc(100vw * (40 / 1440));
  }
  .projects__item {
    margin-right: calc(100vw * (30 / 1440));
  }
}
@media (max-width: 576px) {
  .projects {
    padding-block: calc(100vw * (225 / 360)) calc(100vw * (60 / 360));
    background: #F8F8F8;
  }
  .projects__list {
    margin-top: calc(100vw * (20 / 360));
    display: flex;
  }
  .projects__item {
    margin-right: calc(100vw * (16 / 360));
  }
}
.project {
  padding: 20px 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.project__img {
  width: 268px;
  height: 196px;
  margin-bottom: 16px;
  object-fit: contain;
}
.project__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.project__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-block: 12px 43px;
}
.project__results {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
}
.project__link {
  display: none;
}
@media (max-width: 1440px) {
  .project {
    padding: calc(100vw * (20 / 1440)) calc(100vw * (16 / 1440));
    box-shadow: 0px calc(100vw * (4 / 1440)) calc(100vw * (24 / 1440)) rgba(0, 0, 0, 0.11);
    border-radius: calc(100vw * (12 / 1440));
  }
  .project__img {
    width: calc(100vw * (268 / 1440));
    height: calc(100vw * (196 / 1440));
    margin-bottom: calc(100vw * (16 / 1440));
  }
  .project__title {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
  }
  .project__text {
    font-size: calc(100vw * (14 / 1440));
    line-height: calc(100vw * (18 / 1440));
    margin-block: calc(100vw * (12 / 1440)) calc(100vw * (43 / 1440));
  }
  .project__results {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (20 / 1440));
  }
}
@media (max-width: 576px) {
  .project {
    padding: calc(100vw * (20 / 360)) calc(100vw * (16 / 360));
    box-shadow: 0px calc(100vw * (4 / 360)) calc(100vw * (24 / 360)) rgba(0, 0, 0, 0.11);
    border-radius: calc(100vw * (12 / 360));
  }
  .project__img {
    width: calc(100vw * (268 / 360));
    height: calc(100vw * (196 / 360));
    margin-bottom: calc(100vw * (16 / 360));
  }
  .project__title {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
  }
  .project__text {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
    margin-block: calc(100vw * (12 / 360)) calc(100vw * (43 / 360));
  }
  .project__results {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
  }
}
.payment--border-bottom .payment__container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.payment__container {
  padding-block: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'amounts amounts btn' 'methods link text';
  gap: 26px;
  align-items: center;
}
.payment__amounts {
  display: flex;
  gap: 20px;
  grid-area: amounts;
}
.payment__amount {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #2c2c2c;
  width: 97px;
  padding-block: 21.5px;
  background-color: #F8F8F8;
}
.payment__amount--other {
  width: 276px;
}
.payment__amount:hover {
  color: #2c2c2c;
}
.payment__btn {
  justify-self: end;
  grid-area: btn;
}
.payment__methods {
  grid-area: methods;
}
.payment__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #43B6B4;
}
.payment__link--grid {
  grid-area: link;
  justify-self: center;
}
.payment__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.payment__text--grid {
  grid-area: text;
  justify-self: end;
}
@media (max-width: 1440px) {
  .payment__container {
    padding-block: calc(100vw * (40 / 1440));
    gap: calc(100vw * (26 / 1440));
  }
  .payment__amounts {
    gap: calc(100vw * (20 / 1440));
  }
  .payment__amount {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
    width: calc(100vw * (97 / 1440));
    padding-block: calc(100vw * (21.5 / 1440));
  }
  .payment__amount--other {
    width: calc(100vw * (276 / 1440));
  }
  .payment__link {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (20 / 1440));
  }
  .payment__text {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (20 / 1440));
  }
}
@media (max-width: 576px) {
  .payment:last-child {
    margin-bottom: calc(100vw * (20 / 360));
  }
  .payment__container {
    padding-block: calc(100vw * (20 / 360));
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'amounts' 'link' 'methods' 'btn' 'text';
    gap: 0;
    align-items: center;
  }
  .payment__amounts {
    margin-bottom: calc(100vw * (30 / 360));
    flex-wrap: wrap;
    gap: calc(100vw * (20 / 360));
  }
  .payment__amount {
    font-weight: 500;
    font-size: calc(100vw * (18 / 360));
    line-height: calc(100vw * (23 / 360));
    width: calc(100vw * (93 / 360));
    padding-block: calc(100vw * (18.5 / 360));
  }
  .payment__amount--other {
    width: 100%;
  }
  .payment__btn {
    width: 100%;
    margin-bottom: calc(100vw * (17 / 360));
  }
  .payment__methods {
    margin-bottom: calc(100vw * (40 / 360));
    grid-area: methods;
  }
  .payment__link {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
    margin-bottom: calc(100vw * (20 / 360));
  }
  .payment__link--grid {
    justify-self: start;
  }
  .payment__text {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
  }
  .payment__text--grid {
    justify-self: start;
  }
}
.methods {
  display: flex;
  align-items: center;
}
.methods__list {
  margin-left: 23px;
  display: flex;
  align-items: center;
}
.methods__item {
  padding-right: 26px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 26px;
}
.methods__item:last-child {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}
@media (max-width: 1440px) {
  .methods__list {
    margin-left: calc(100vw * (23 / 1440));
  }
  .methods__item {
    padding-right: calc(100vw * (26 / 1440));
    margin-right: calc(100vw * (26 / 1440));
  }
}
@media (max-width: 576px) {
  .methods {
    display: flex;
    align-items: center;
  }
  .methods__list {
    margin-left: calc(100vw * (23 / 360));
  }
  .methods__item {
    padding-right: calc(100vw * (10 / 360));
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: calc(100vw * (10 / 360));
  }
  .methods__item:last-child {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }
}
.helped {
  margin-block: 60px 87px;
}
.helped__list {
  margin-top: 40px;
  display: flex;
}
.helped__item {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.helped__item:last-child {
  margin-right: 0;
}
.helped__project {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 4px 12px;
  border-radius: 6px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.helped__img {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  object-fit: contain;
}
.helped__caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-block: 8px;
}
.helped__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 1440px) {
  .helped {
    margin-block: calc(100vw * (60 / 1440)) calc(100vw * (87 / 1440));
  }
  .helped__list {
    margin-top: calc(100vw * (40 / 1440));
  }
  .helped__item {
    width: calc(100vw * (300 / 1440));
    margin-right: calc(100vw * (30 / 1440));
  }
  .helped__project {
    font-size: calc(100vw * (12 / 1440));
    line-height: calc(100vw * (15 / 1440));
    padding: calc(100vw * (4 / 1440)) calc(100vw * (12 / 1440));
    border-radius: calc(100vw * (6 / 1440));
    top: calc(100vw * (8 / 1440));
    left: calc(100vw * (8 / 1440));
  }
  .helped__img {
    width: calc(100vw * (300 / 1440));
    height: calc(100vw * (200 / 1440));
    border-radius: calc(100vw * (12 / 1440));
  }
  .helped__caption {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
    margin-block: calc(100vw * (8 / 1440));
  }
  .helped__text {
    font-size: calc(100vw * (14 / 1440));
    line-height: calc(100vw * (18 / 1440));
  }
}
@media (max-width: 576px) {
  .helped {
    margin-block: calc(100vw * (40 / 360)) calc(100vw * (60 / 360));
  }
  .helped__list {
    margin-top: calc(100vw * (30 / 360));
    display: flex;
  }
  .helped__item {
    width: calc(100vw * (300 / 360));
    margin-right: calc(100vw * (16 / 360));
  }
  .helped__project {
    font-size: calc(100vw * (12 / 360));
    line-height: calc(100vw * (15 / 360));
    color: #FFFFFF;
    padding: calc(100vw * (4 / 360)) calc(100vw * (12 / 360));
    border-radius: calc(100vw * (6 / 360));
    top: calc(100vw * (8 / 360));
    left: calc(100vw * (8 / 360));
  }
  .helped__img {
    width: calc(100vw * (300 / 360));
    height: calc(100vw * (200 / 360));
    border-radius: calc(100vw * (12 / 360));
  }
  .helped__caption {
    font-size: calc(100vw * (18 / 360));
    line-height: calc(100vw * (23 / 360));
    margin-block: calc(100vw * (8 / 360));
  }
  .helped__text {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
  }
}
.footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  background-color: #2c2c2c;
}
.footer__container {
  padding-block: 33px 53px;
  display: grid;
  grid-template-areas: 'logo btn social' 'address requisites .';
  grid-template-columns: 1fr min-content min-content;
  gap: 50px 163px;
}
.footer__logo {
  grid-area: logo;
}
.footer__logo > img {
  width: 291px;
  height: 74px;
}
.footer__btn {
  grid-area: btn;
}
.footer__social {
  grid-area: social;
}
.footer__social > svg {
  width: 48px;
  height: 48px;
}
.footer__address {
  grid-area: address;
}
.footer__requisites {
  grid-area: requisites;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.footer__link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
@media (max-width: 1440px) {
  .footer {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (32 / 1440));
  }
  .footer__container {
    padding-block: calc(100vw * (33 / 1440)) calc(100vw * (53 / 1440));
    gap: calc(100vw * (50 / 1440)) calc(100vw * (163 / 1440));
  }
  .footer__logo > img {
    width: calc(100vw * (291 / 1440));
    height: calc(100vw * (74 / 1440));
  }
  .footer__social > svg {
    width: calc(100vw * (48 / 1440));
    height: calc(100vw * (48 / 1440));
  }
  .footer__link {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (32 / 1440));
  }
}
@media (max-width: 576px) {
  .footer {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (32 / 360));
  }
  .footer__container {
    padding-block: calc(100vw * (30 / 360)) calc(100vw * (38 / 360));
    grid-template-areas: 'logo' 'address' 'requisites' 'btn' 'social';
    grid-template-columns: 100%;
    gap: calc(100vw * (30 / 360));
  }
  .footer__logo > img {
    width: calc(100vw * (291 / 360));
    height: calc(100vw * (74 / 360));
  }
  .footer__btn {
    justify-self: center;
  }
  .footer__social {
    justify-self: center;
  }
  .footer__social > svg {
    width: calc(100vw * (48 / 360));
    height: calc(100vw * (48 / 360));
  }
  .footer__link {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (32 / 360));
  }
}
.about {
  margin-top: 50px;
}
.about__container {
  display: grid;
  grid-template-areas: 'text aside' 'quote quote';
  grid-template-columns: 1fr min-content;
  gap: 107px 98px;
}
.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 17px;
  grid-area: text;
}
.about__aside {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #43B6B4;
  padding-bottom: 29px;
  padding-right: 29px;
  border-bottom: 2px solid currentColor;
  display: flex;
  align-items: center;
  grid-area: aside;
}
.about__number {
  font-weight: 400;
  font-size: 210px;
  line-height: 264px;
  margin-right: 39px;
}
.about__quote {
  justify-self: end;
  grid-area: quote;
}
@media (max-width: 1440px) {
  .about {
    margin-top: calc(100vw * (50 / 1440));
  }
  .about__container {
    gap: calc(100vw * (107 / 1440)) calc(100vw * (98 / 1440));
  }
  .about__text {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
    margin-top: calc(100vw * (17 / 1440));
  }
  .about__aside {
    font-size: calc(100vw * (30 / 1440));
    line-height: calc(100vw * (38 / 1440));
    padding-bottom: calc(100vw * (29 / 1440));
    padding-right: calc(100vw * (29 / 1440));
  }
  .about__number {
    font-size: calc(100vw * (210 / 1440));
    line-height: calc(100vw * (264 / 1440));
    margin-right: calc(100vw * (39 / 1440));
  }
}
@media (max-width: 576px) {
  .about {
    margin-top: calc(100vw * (30 / 360));
  }
  .about__container {
    display: grid;
    grid-template-areas: 'text' 'aside' 'quote';
    grid-template-columns: 100%;
    gap: 0;
  }
  .about__text {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
    margin-top: 0;
    margin-bottom: calc(100vw * (20 / 360));
  }
  .about__aside {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: calc(100vw * (40 / 360));
  }
  .about__number {
    font-size: calc(100vw * (140 / 360));
    line-height: calc(100vw * (176 / 360));
    margin-right: calc(100vw * (24 / 360));
  }
}
.about_quote {
  width: max-content;
  padding: 49px 144px 58px 209px;
  background: rgba(67, 182, 180, 0.05);
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about_quote__img {
  width: 213px;
  height: 213px;
  border: 6px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -99px;
  transform: translateY(-50%);
}
.about_quote__img > img {
  width: 100%;
  height: 100%;
}
.about_quote__img::before {
  content: "";
  width: 58px;
  height: 48px;
  background: url(../img/quotes.svg) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  top: -8px;
  left: 15px;
}
.about_quote__text {
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 8px;
}
.about_quote__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 1440px) {
  .about_quote {
    padding: calc(100vw * (49 / 1440)) calc(100vw * (144 / 1440)) calc(100vw * (58 / 1440)) calc(100vw * (209 / 1440));
    border-radius: calc(100vw * (16 / 1440));
  }
  .about_quote__img {
    width: calc(100vw * (213 / 1440));
    height: calc(100vw * (213 / 1440));
    border: calc(100vw * (6 / 1440)) solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(100vw * (-99 / 1440));
    transform: translateY(-50%);
  }
  .about_quote__img::before {
    width: calc(100vw * (58 / 1440));
    height: calc(100vw * (48 / 1440));
    top: calc(100vw * (-8 / 1440));
    left: calc(100vw * (15 / 1440));
  }
  .about_quote__text {
    font-size: calc(100vw * (28 / 1440));
    line-height: calc(100vw * (35 / 1440));
    margin-bottom: calc(100vw * (8 / 1440));
  }
  .about_quote__author {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
  }
}
@media (max-width: 576px) {
  .about_quote {
    width: 100%;
    padding: calc(100vw * (129 / 360)) calc(100vw * (20 / 360)) calc(100vw * (31 / 360));
    border-radius: calc(100vw * (16 / 360));
  }
  .about_quote__img {
    width: calc(100vw * (133 / 360));
    height: calc(100vw * (133 / 360));
    border: calc(100vw * (6 / 360)) solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: calc(100vw * (-30 / 360));
    left: 50%;
    transform: translate(-50%, 0);
  }
  .about_quote__img::before {
    content: "";
    width: calc(100vw * (46 / 360));
    height: calc(100vw * (39 / 360));
    top: calc(100vw * (5 / 360));
    left: calc(100vw * (-13 / 360));
  }
  .about_quote__text {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
    text-align: center;
    margin-bottom: calc(100vw * (12 / 360));
  }
  .about_quote__author {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
    text-align: center;
  }
}
.about_content {
  margin-top: 79px;
}
.about_content__container {
  margin-top: 39px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.about_content__img {
  width: 100%;
  height: auto;
}
.about_content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_content__item {
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.05);
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
.about_content__text {
  font-weight: 500;
}
.about_content__projects {
  font-weight: 400;
  margin-top: 25px;
}
@media (max-width: 1440px) {
  .about_content {
    margin-top: calc(100vw * (79 / 1440));
  }
  .about_content__container {
    margin-top: calc(100vw * (39 / 1440));
    gap: calc(100vw * (30 / 1440));
  }
  .about_content__list {
    gap: calc(100vw * (20 / 1440));
  }
  .about_content__item {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (20 / 1440));
    padding: calc(100vw * (20 / 1440));
    box-shadow: 0px calc(100vw * (4 / 1440)) calc(100vw * (34 / 1440)) rgba(0, 0, 0, 0.04);
    border-radius: calc(100vw * (12 / 1440));
  }
  .about_content__projects {
    margin-top: calc(100vw * (25 / 1440));
  }
}
@media (max-width: 576px) {
  .about_content {
    margin-top: calc(100vw * (30 / 360));
  }
  .about_content__container {
    margin-top: calc(100vw * (20 / 360));
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
    gap: calc(100vw * (30 / 360));
  }
  .about_content__img {
    width: 100%;
    height: auto;
    grid-row-start: 2;
  }
  .about_content__list {
    display: flex;
    flex-direction: column;
    gap: calc(100vw * (16 / 360));
  }
  .about_content__item {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
    padding: calc(100vw * (20 / 360));
    box-shadow: 0px calc(100vw * (4 / 360)) calc(100vw * (34 / 360)) rgba(0, 0, 0, 0.04);
    border-radius: calc(100vw * (12 / 360));
  }
  .about_content__projects {
    margin-top: calc(100vw * (20 / 360));
  }
}
.documents {
  padding-top: 50px;
  background: #F8F8F8;
}
.documents + .projects {
  padding-top: 50px;
}
.documents__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.documents__item {
  width: 300px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
.documents__img {
  width: 26px;
  height: 31px;
}
.documents__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.documents__link {
  display: none;
}
.contacts {
  margin-top: 50px;
}
.contacts__container {
  display: grid;
  grid-template-areas: 'address persons' 'map map';
  grid-template-columns: 1fr 630px;
  gap: 80px 130px;
}
.contacts__addresses {
  display: flex;
  flex-direction: column;
  grid-area: address;
}
.contacts__address {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-block: 40px 20px;
}
.contacts__phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.contacts__phone::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/phone-call.svg) no-repeat center;
  background-size: 100%;
  margin-right: 23px;
}
.contacts__email {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.contacts__email::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/mail.svg) no-repeat center;
  background-size: 100%;
  margin-right: 23px;
}
.contacts__social {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.contacts__social > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-right: 25px;
}
.contacts__social_link {
  width: 34px;
  height: 34px;
}
.contacts__social_link > svg {
  width: 100%;
  height: 100%;
}
.contacts__persons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-area: persons;
}
.contacts__person {
  display: grid;
  grid-template-areas: 'img name' 'img position' 'img phone' 'img email';
  grid-template-columns: min-content 1fr;
}
.contacts__person > .contacts__phone {
  grid-area: phone;
}
.contacts__person > .contacts__email {
  grid-area: email;
}
.contacts__photo {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  grid-area: img;
}
.contacts__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 6px;
  grid-area: name;
}
.contacts__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 26px;
  grid-area: position;
}
.contacts__map {
  width: 100%;
  grid-area: map;
}
.contacts__map > img {
  width: 100%;
  height: auto;
}
@media (max-width: 1440px) {
  .contacts {
    margin-top: calc(100vw * (50 / 1440));
  }
  .contacts__container {
    grid-template-columns: 1fr calc(100vw * (630 / 1440));
    gap: calc(100vw * (80 / 1440)) calc(100vw * (130 / 1440));
  }
  .contacts__address {
    font-size: calc(100vw * (24 / 1440));
    line-height: calc(100vw * (30 / 1440));
    margin-block: calc(100vw * (40 / 1440)) calc(100vw * (20 / 1440));
  }
  .contacts__phone {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
    margin-bottom: calc(100vw * (10 / 1440));
  }
  .contacts__phone::before {
    width: calc(100vw * (24 / 1440));
    height: calc(100vw * (24 / 1440));
    margin-right: calc(100vw * (23 / 1440));
  }
  .contacts__email {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
  }
  .contacts__email::before {
    width: calc(100vw * (24 / 1440));
    height: calc(100vw * (24 / 1440));
    margin-right: calc(100vw * (23 / 1440));
  }
  .contacts__social {
    margin-top: calc(100vw * (70 / 1440));
  }
  .contacts__social > p {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
    margin-right: calc(100vw * (25 / 1440));
  }
  .contacts__social_link {
    width: calc(100vw * (34 / 1440));
    height: calc(100vw * (34 / 1440));
  }
  .contacts__persons {
    gap: calc(100vw * (40 / 1440));
  }
  .contacts__photo {
    width: calc(100vw * (100 / 1440));
    height: calc(100vw * (100 / 1440));
    margin-right: calc(100vw * (30 / 1440));
  }
  .contacts__name {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
    margin-bottom: calc(100vw * (6 / 1440));
  }
  .contacts__position {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
    margin-bottom: calc(100vw * (26 / 1440));
  }
}
@media (max-width: 576px) {
  .contacts {
    margin-top: calc(100vw * (30 / 360));
  }
  .contacts__container {
    display: grid;
    grid-template-areas: 'address' 'persons' 'map';
    grid-template-columns: 100%;
    gap: calc(100vw * (50 / 360));
  }
  .contacts__address {
    font-size: calc(100vw * (18 / 360));
    line-height: calc(100vw * (23 / 360));
    margin-block: calc(100vw * (30 / 360)) calc(100vw * (20 / 360));
  }
  .contacts__phone {
    font-size: calc(100vw * (18 / 360));
    line-height: calc(100vw * (23 / 360));
    margin-bottom: calc(100vw * (10 / 360));
  }
  .contacts__phone::before {
    width: calc(100vw * (24 / 360));
    height: calc(100vw * (24 / 360));
    margin-right: calc(100vw * (23 / 360));
  }
  .contacts__email {
    font-size: calc(100vw * (18 / 360));
    line-height: calc(100vw * (23 / 360));
  }
  .contacts__email::before {
    width: calc(100vw * (24 / 360));
    height: calc(100vw * (24 / 360));
    margin-right: calc(100vw * (23 / 360));
  }
  .contacts__social {
    margin-top: calc(100vw * (40 / 360));
  }
  .contacts__social > p {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
    margin-right: calc(100vw * (25 / 360));
  }
  .contacts__social_link {
    width: calc(100vw * (34 / 360));
    height: calc(100vw * (34 / 360));
  }
  .contacts__persons {
    gap: 0;
  }
  .contacts__persons > .h2 {
    margin-bottom: calc(100vw * (40 / 360));
  }
  .contacts__person {
    display: grid;
    grid-template-areas: 'img' 'name' 'position' 'phone' 'email';
    grid-template-columns: 100%;
    margin-bottom: calc(100vw * (30 / 360));
  }
  .contacts__person:last-child {
    margin-bottom: 0;
  }
  .contacts__photo {
    width: calc(100vw * (100 / 360));
    height: calc(100vw * (100 / 360));
    margin-right: 0;
    margin-bottom: calc(100vw * (30 / 360));
  }
  .contacts__name {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
    margin-bottom: calc(100vw * (6 / 360));
  }
  .contacts__position {
    font-size: calc(100vw * (18 / 360));
    line-height: calc(100vw * (23 / 360));
    margin-bottom: calc(100vw * (26 / 360));
  }
  .contacts__map {
    width: 100%;
    height: calc(100vw * (381 / 360));
  }
  .contacts__map > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.requisites {
  margin-block: 80px 60px;
}
.requisites__list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.requisites__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 16px;
}
.requisites__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
@media (max-width: 1440px) {
  .requisites {
    margin-block: calc(100vw * (80 / 1440)) calc(100vw * (60 / 1440));
  }
  .requisites__list {
    margin-top: calc(100vw * (50 / 1440));
    gap: calc(100vw * (50 / 1440));
  }
  .requisites__name {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
    margin-bottom: calc(100vw * (16 / 1440));
  }
  .requisites__text {
    font-size: calc(100vw * (18 / 1440));
    line-height: calc(100vw * (23 / 1440));
  }
}
@media (max-width: 576px) {
  .requisites {
    margin-block: calc(100vw * (50 / 360));
  }
  .requisites__list {
    margin-top: calc(100vw * (20 / 360));
    gap: calc(100vw * (20 / 360));
  }
  .requisites__name {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
    margin-bottom: calc(100vw * (16 / 360));
  }
  .requisites__text {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
  }
}
.projects_page {
  margin-block: 50px 60px;
}
.projects_page__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.projects_page__card {
  padding: 26px;
  background: #FFFFFF;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.projects_page__slider {
  width: 578px;
  height: 304px;
  margin-bottom: 16px;
}
.projects_page__img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.projects_page__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects_page__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 16px;
}
.projects_page__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
}
.projects_page__links {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}
.projects_page__links .button {
  width: 100%;
}
.projects_page__links .button--empty {
  color: #43B6B4;
  margin-left: 16px;
}
@media (max-width: 1440px) {
  .projects_page {
    margin-block: calc(100vw * (50 / 1440)) calc(100vw * (60 / 1440));
  }
  .projects_page__container {
    gap: calc(100vw * (30 / 1440));
  }
  .projects_page__card {
    padding: calc(100vw * (26 / 1440));
    box-shadow: 0px calc(100vw * (4 / 1440)) calc(100vw * (34 / 1440)) rgba(0, 0, 0, 0.04);
    border-radius: calc(100vw * (12 / 1440));
  }
  .projects_page__slider {
    width: calc(100vw * (578 / 1440));
    height: calc(100vw * (304 / 1440));
    margin-bottom: calc(100vw * (16 / 1440));
  }
  .projects_page__img {
    border-radius: calc(100vw * (12 / 1440));
  }
  .projects_page__name {
    font-size: calc(100vw * (28 / 1440));
    line-height: calc(100vw * (30 / 1440));
    margin-bottom: calc(100vw * (16 / 1440));
  }
  .projects_page__text {
    font-size: calc(100vw * (14 / 1440));
    line-height: calc(100vw * (18 / 1440));
    margin-bottom: calc(100vw * (30 / 1440));
  }
  .projects_page__links {
    margin-top: calc(100vw * (26 / 1440));
  }
  .projects_page__links .button--empty {
    margin-left: calc(100vw * (16 / 1440));
  }
}
@media (max-width: 576px) {
  .projects_page {
    margin-block: calc(100vw * (30 / 360)) calc(100vw * (50 / 360));
  }
  .projects_page__container {
    grid-template-columns: 100%;
    gap: calc(100vw * (30 / 360));
  }
  .projects_page__card {
    padding: calc(100vw * (16 / 360)) calc(100vw * (16 / 360)) calc(100vw * (30 / 360));
    box-shadow: 0px calc(100vw * (4 / 360)) calc(100vw * (34 / 360)) rgba(0, 0, 0, 0.04);
    border-radius: calc(100vw * (12 / 360));
  }
  .projects_page__slider {
    width: calc(100vw * (288 / 360));
    height: calc(100vw * (204 / 360));
    margin-bottom: calc(100vw * (16 / 360));
  }
  .projects_page__img {
    border-radius: calc(100vw * (12 / 360));
  }
  .projects_page__name {
    font-size: calc(100vw * (24 / 360));
    line-height: calc(100vw * (30 / 360));
    margin-bottom: calc(100vw * (8 / 360));
  }
  .projects_page__text {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
    margin-bottom: calc(100vw * (16 / 360));
  }
  .projects_page__links {
    margin-top: calc(100vw * (20 / 360));
    display: flex;
    flex-direction: column;
  }
  .projects_page__links .button--empty {
    margin-top: calc(100vw * (30 / 360));
    margin-left: 0;
  }
}
.project_page {
  background-color: #F8F8F8;
  position: relative;
}
.project_page__container {
  padding-block: 285px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.project_page__slider {
  width: 1290px;
  height: 470px;
  position: absolute;
  margin-inline: auto;
  top: -235px;
  left: 0;
  right: 0;
}
.project_page__img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.project_page__img > img {
  width: 100%;
  height: 100%;
}
.project_page__content {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 1440px) {
  .project_page__container {
    padding-block: calc(100vw * (285 / 1440)) calc(100vw * (50 / 1440));
  }
  .project_page__slider {
    width: calc(100vw * (1290 / 1440));
    height: calc(100vw * (470 / 1440));
    top: calc(100vw * (-235 / 1440));
  }
  .project_page__img {
    border-radius: calc(100vw * (16 / 1440));
  }
  .project_page__content {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (25 / 1440));
  }
}
@media (max-width: 576px) {
  .project_page__container {
    padding-block: calc(100vw * (155 / 360)) calc(100vw * (30 / 360));
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .project_page__slider {
    width: calc(100vw * (320 / 360));
    height: calc(100vw * (228 / 360));
    top: calc(100vw * (-119 / 360));
  }
  .project_page__img {
    border-radius: calc(100vw * (16 / 360));
  }
  .project_page__content {
    font-size: calc(100vw * (14 / 360));
    line-height: calc(100vw * (18 / 360));
  }
}
.hall_of_fame {
  margin-top: 60px;
}
.hall_of_fame__container {
  margin-bottom: 100px;
  display: flex;
  gap: 140px;
  justify-content: space-between;
}
.hall_of_fame .section_link {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-decoration-line: underline;
  text-transform: none;
  color: #43B6B4;
}
.hall_of_fame__list {
  margin-top: 40px;
  margin-right: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, min-content);
  gap: 22px 97px;
  grid-auto-flow: column;
}
.hall_of_fame__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}
.hall_of_fame__diagram {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 264px;
  height: 264px;
  margin-block: 25px 20px;
  margin-inline: auto;
  position: relative;
  display: grid;
  place-content: center;
}
.hall_of_fame__sum {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #43B6B4;
}
.hall_of_fame__progress {
  position: absolute;
  inset: 0;
}
@media (max-width: 1440px) {
  .hall_of_fame {
    margin-top: calc(100vw * (60 / 1440));
  }
  .hall_of_fame__container {
    margin-bottom: calc(100vw * (100 / 1440));
    gap: calc(100vw * (140 / 1440));
  }
  .hall_of_fame .section_link {
    font-size: calc(100vw * (24 / 1440));
    line-height: calc(100vw * (30 / 1440));
  }
  .hall_of_fame__list {
    margin-top: calc(100vw * (40 / 1440));
    margin-right: calc(100vw * (65 / 1440));
    gap: calc(100vw * (22 / 1440)) calc(100vw * (97 / 1440));
  }
  .hall_of_fame__item {
    font-size: calc(100vw * (20 / 1440));
    line-height: calc(100vw * (36 / 1440));
  }
  .hall_of_fame__diagram {
    font-size: calc(100vw * (16 / 1440));
    line-height: calc(100vw * (20 / 1440));
    width: calc(100vw * (264 / 1440));
    height: calc(100vw * (264 / 1440));
    margin-block: calc(100vw * (25 / 1440)) calc(100vw * (20 / 1440));
  }
  .hall_of_fame__sum {
    font-size: calc(100vw * (34 / 1440));
    line-height: calc(100vw * (43 / 1440));
  }
}
@media (max-width: 576px) {
  .hall_of_fame {
    margin-top: calc(100vw * (50 / 360));
  }
  .hall_of_fame .section_link {
    height: min-content;
  }
  .hall_of_fame__container {
    margin-bottom: calc(100vw * (50 / 360));
    display: flex;
    flex-direction: column-reverse;
    gap: calc(100vw * (50 / 360));
  }
  .hall_of_fame__list {
    margin-top: calc(100vw * (20 / 360));
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: calc(100vw * (14 / 360));
  }
  .hall_of_fame__item {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (36 / 360));
    padding-bottom: calc(100vw * (14 / 360));
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .hall_of_fame__diagram {
    font-size: calc(100vw * (20 / 360));
    line-height: calc(100vw * (25 / 360));
    width: calc(100vw * (320 / 360));
    height: calc(100vw * (320 / 360));
    margin-block: calc(100vw * (30 / 360));
  }
  .hall_of_fame__sum {
    font-size: calc(100vw * (44 / 360));
    line-height: calc(100vw * (55 / 360));
  }
  .hall_of_fame__progress {
    position: absolute;
    inset: calc(100vw * (-27 / 360));
  }
}
.reports .hall_of_fame__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.reports .hall_of_fame__list {
  margin-top: 40px;
  margin-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(15, min-content);
  gap: 20px 95px;
  grid-auto-flow: column;
}
@media (max-width: 1440px) {
  .reports .hall_of_fame__list {
    margin-top: calc(100vw * (40 / 1440));
    gap: calc(100vw * (20 / 1440)) calc(100vw * (95 / 1440));
  }
}
@media (max-width: 576px) {
  .reports .hall_of_fame__container {
    margin-bottom: calc(100vw * (50 / 360));
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .reports .hall_of_fame__list {
    margin-top: calc(100vw * (20 / 360));
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: calc(100vw * (14 / 360));
  }
}
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #2c2c2c;
  margin-bottom: 0;
}
.wrapper {
  width: 1290px;
  margin-inline: auto;
}
.section_link {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #2c2c2c;
  margin-left: auto;
}
.section_link:hover {
  color: #2c2c2c;
}
@media (max-width: 1440px) {
  .h1 {
    font-size: calc(100vw * (56 / 1440));
    line-height: calc(100vw * (70 / 1440));
  }
  .h2 {
    font-size: calc(100vw * (40 / 1440));
    line-height: calc(100vw * (50 / 1440));
  }
  .wrapper {
    width: calc(100vw * (1290 / 1440));
  }
}
@media (max-width: 576px) {
  .h1 {
    font-size: calc(100vw * (36 / 360));
    line-height: calc(100vw * (45 / 360));
  }
  .h2 {
    font-size: calc(100vw * (32 / 360));
    line-height: calc(100vw * (40 / 360));
  }
  .section_link {
    margin-left: calc(100vw * (6 / 360));
  }
  .wrapper {
    width: 100%;
    padding-inline: calc(100vw * (20 / 360));
  }
}
