*,
*::before,
*::after {
  box-sizing: border-box;
}

*:active,
*:focus {
  outline: none;
}

:root {
  scroll-behavior: auto;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Cera Pro', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @black;
  background: @white;
  overflow-x: hidden;

  &.modal_open {
    height: 100vh;
    overflow: hidden;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

a, input {
  font-family: 'Cera Pro', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

a {
  color: @black;
  transition: color @hover-transition-duration ease;
}

a:hover {
  color: @hover-primary;
}

input:focus {
  outline: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-weight: normal;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

picture {
  >img {
    width: 100%;
    height: 100%;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
