.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.modal_open {
  overflow: hidden;
}

.h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: @white;
  margin-bottom: 0;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: @black;
  margin-bottom: 0;

  &:hover {
    color: @black;
  }
}

.wrapper {
  width: 1290px;
  margin-inline: auto;
}

.section_link {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: @black;
  margin-left: auto;

  &:hover {
    @media (min-width: 576px) {
      color: @hover-primary;
    }
  }
}

.slider_nav {
  width: 40px;
  height: 40px;
  background-color: @white-special;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color @hover-transition-duration ease;

  &:hover {
    @media (min-width: 576px) {
      background-color: @hover-gray;
    }
  }
}

.section_slider_nav {
  display: flex;
  margin-left: 70px;

  .slider_nav {
    &--prev {
      margin-right: 30px;
    }
  }
}

.load_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: @primary;
  padding: 20px;
  background: @white;
  border: 1px solid rgba(44, 44, 44, 0.05);
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

  > svg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1440px) {
  .h1 {
    font-size: calc(100vw * (56 / 1440));
    line-height: calc(100vw * (70 / 1440));
  }

  .h2 {
    font-size: calc(100vw * (40 / 1440));
    line-height: calc(100vw * (50 / 1440));
  }

  .wrapper {
    width: calc(100vw * (1290 / 1440));
  }

  .slider_nav {
    width: calc(100vw * (40 / 1440));
    height: calc(100vw * (40 / 1440));
  }

  .section_slider_nav {
    display: flex;
    margin-left: calc(100vw * (70 / 1440));

    .slider_nav {
      &--prev {
        margin-right: calc(100vw * (30 / 1440));
      }
    }
  }
}


@media (max-width: 576px) {
  .h1 {
    font-size: calc(100vw * (36 / 360));
    line-height: calc(100vw * (45 / 360));
  }

  .h2 {
    font-size: calc(100vw * (32 / 360));
    line-height: calc(100vw * (40 / 360));
  }

  .section_link {
    margin-left: calc(100vw * (6 / 360));
  }

  .wrapper {
    width: 100%;
    padding-inline: calc(100vw * (20 / 360));
  }

  .slider_nav {
    width: calc(100vw * (40 / 360));
    height: calc(100vw * (40 / 360));
  }

  .load_btn {
    font-size: calc(100vw * (16 / 360));
    line-height: calc(100vw * (20 / 360));
    padding: calc(100vw * (20 / 360));
    box-shadow: 0px calc(100vw * (4 / 360)) calc(100vw * (34 / 360)) rgba(0, 0, 0, 0.04);
    border-radius: calc(100vw * (12 / 360));

    > svg {
      width: calc(100vw * (24 / 360));
      height: calc(100vw * (24 / 360));
    }
  }
}
